<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="http://use.fontawesome.com/39ac5a0cbe.js"></script>
</head>
<body>
<div class="container">
  <h1 class="display-5 text-center mb-5">Welcome to MyDelivery</h1>
  <h5 class="display-6 text-left mb-3">Team Name: Mostly Cloudy</h5>
  <h5 class="display-6 text-left mb-3">Team ID: 08</h5>
  <div class="row text-center mb-5">
    <div class="col-md-8">
      <a class="btn btn-outline-success" href="/list">View Order Details</a>
    </div>
<!--    <div class="row text-center mb-5">-->
<!--      <div class="col-md-8">-->
<!--        <a class="btn btn-outline-primary" href="/addData">Add Data</a>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
</body>
<footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
</footer>
</html>

